





<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white border-bottom shadow-sm">
    <a class="navbar-brand" routerLink="/" style="color: #f57706;">Findr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/" id="Home">Home</a>
        </li>

   
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" id="Home">Errors</a>
        </li>
        
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" id="Find" dropdownToggle>Find</a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item">Resturants</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Coffe shops</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Views</a>
            </div>
        </li>

 

        <li class="nav-item">        
          <a id="User"  class="nav-link" routerLink="/profile" *ngIf="(accountService.currentUser$ | async) as user">Welcome {{user.username | titlecase}}</a>
        </li> 
     
      </ul>
      <a id="Logout" class="btn "href="#"   (click)="logout()" *ngIf="accountService.currentUser$ | async">Logout</a>
  <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
  autocomplete="off">
  <input 
   name="username"
   [(ngModel)]="model.username"
   class="form-control mr-sm-2"
   type="text"
   placeholder="Username">
  <input 
   name="password"
   [(ngModel)]="model.password"
   class="form-control mr-sm-2" 
   type="password" 
   placeholder="Password">
   <button id="signIn" class="btn"  *ngIf="(accountService.currentUser$ | async) === null" type="Submit">Login</button>
  </form>
  <button id="signUp" class="btn btn-primary" routerLink='/register' style="background-color: #f57706;"  *ngIf="(accountService.currentUser$ | async) === null">Sign up</button>

    </div>
  </nav>
</header>









