
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal" style="color: #f57706;">Findr</h5>

  <nav class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse show" id="navbarsExampleDefault" style>
      <a id="Home" class="p-4"  routerLink="/">Home</a>
     
        <div class="dropdown" dropdown>
          <a class="dropdown-toggle" id="Find" dropdownToggle>Find</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Resturants</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Coffe shops</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">Views</a>
          </div>
        </div> 

        
        <a id="User" class="p-4" routerLink="/profile" *ngIf="(accountService.currentUser$ | async) as user">Welcome {{user.username | titlecase}}</a>
   
    </div>
  </nav>
  <a id="Logout" class="btn "href="#"   (click)="logout()" *ngIf="accountService.currentUser$ | async">Logout</a>
  <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
  autocomplete="off">
  <input 
   name="username"
   [(ngModel)]="model.username"
   class="form-control mr-sm-2"
   type="text"
   placeholder="Username">
  <input 
   name="password"
   [(ngModel)]="model.password"
   class="form-control mr-sm-2" 
   type="password" 
   placeholder="Password">
   <button id="signIn" class="btn"  *ngIf="(accountService.currentUser$ | async) === null" type="Submit">Login</button>
  </form>
  <button id="signUp" class="btn btn-primary" routerLink='/register' style="background-color: #f57706;"  *ngIf="(accountService.currentUser$ | async) === null">Sign up</button>

</div>



 








